<div class="row">
   <div class="col-md-12">
      <div class="card card-primary">
         <div class="card-header no-border">
            <h3 class="card-title">Create new Connector Request</h3>
            <div class="d-flex justify-content-between">
            </div>
         </div>  
         <form action="{{#if isEdit}}/connectorrequest/update{{else}}/connectorrequest/store{{/if}}" method="POST" autocomplete="off">
            <div class="card-body">
               <input type="hidden" name="_id" value="{{connectorrequest._id}}">
               <div class="row">
                  <label class="col-md-2">ResourceType</label>
                  <div class="col-md-4">
                     <input type="text" placeholder ="{{connectorrequest.ResourceTypeError}}" {{#if connectorrequest.ResourceTypeError}} class = "form-control border-danger"{{else}} class="form-control"{{/if}} name="resourceType" class="form-control" value ="{{connectorrequest.resourceType}}"/>
                  </div>
                  <label class="col-md-2">identifier</label>
                  <div class="col-md-4">
                     <input type="text" placeholder ="{{connectorrequest.identifier}}" {{#if connectorrequest.identifier}} class = "form-control border-danger"{{else}} class="form-control"{{/if}} name="identifier" class="form-control" value ="{{connectorrequest.identifier}}"/>
                  </div>
               </div>
               <br>
               <div class="row">
                  <label class="col-md-2">status</label>
                  <div class="col-md-4">
                     <input type="text" name="status" class="form-control" value ="{{connectorrequest.status}}"/>
                  </div>
                  <label class="col-md-2">serviceType</label>
                  <div class="col-md-4">
                     <input type="text" name="serviceType" class="form-control" value ="{{connectorrequest.serviceType}}"/>
                  </div>
               </div>
               <br>
               <div class="row">
                  <label class="col-md-2">reason</label>
                  <div class="col-md-4">
                     <input type="text" name="reason" class="form-control" value="{{ connectorrequest.reason }}"/>
                  </div>
                  <label class="col-md-2">description</label>
                  <div class="col-md-4">
                     <input type="textarea" name="description" class="form-control" value="{{ connectorrequest.description }}"/>
                  </div>
               </div>
               <br>
               <div class="row">
                  <label class="col-md-2">start</label>
                  <div class="col-md-4">
                     <input type="text" name="start" class="form-control" value="{{ connectorrequest.start }}"/>
                  </div>
                  <label class="col-md-2">end</label>
                  <div class="col-md-4">
                     <input type="text" name="end" class="form-control" value="{{ connectorrequest.end }}"/>
                  </div>
               </div>
               <br>
               <div class="row">
                  <label class="col-md-2">comment</label>
                  <div class="col-md-4">
                     <input type="text" placeholder ="{{connectorrequest.commentError}}" {{#if connectorrequest.commentError}} class = "form-control border-danger"{{else}} class="form-control"{{/if}} name="comment" class="form-control" value="{{ connectorrequest.comment }}"/>
                  </div>
                  
            </div>
            <div class="card-footer">
               <center><button class="btn btn-default">Submit</button></center>
            </div>       
         </form>
      </div>
   </div>
</div>