<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
                <div class="row">
                    <h3 class="card-title">Danh sách bệnh nhân đăng ký</h3>
                    <a href="/patients/patientadministration" class="btn btn-primary btn-sm" style="margin-left: 10px;">Đăng ký mới</a>
                </div>
                <div class="card-tools">
                    <div class="row">
                        <div class="input-group input-group-sm" style="width: 150px;">
                              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                              <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                              </div>
                        </div>
                    </div>
                </div>
          </div>
          <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:20%">Tên</th>
                        <th style="width:20%">Thời gian đến</th>
                        <th class="d-none d-sm-table-cell" style="width:15%">Đến từ</th>
                        <th class="d-none d-sm-table-cell" style="width:20%">Khoa đã đến</th>
                        <th style="width:20%"></th>
                    </tr>
                </thead>
                <tbody>
                {{#each list}}
                    <tr>
                        <td>{{incremented @index ../pagination.page}}</td>
                        {{#each this.patient}}
                            <td>  {{this.name}} </td>
                        {{/each}}  
                        <td>{{#if this.comingTime}}{{format_date this.comingTime 'DD/MM/YYYY'}}{{/if}}</td>
                        <td class="d-none d-sm-table-cell">{{comingFrom this.comingFrom}}</td>
                        <td class="d-none d-sm-table-cell">{{arrivedDepartment this.arrivedDepartment}}</td>
                        <td>
                            <a href="/patients/details/{{#each this.patient}}{{this._id}}{{/each}}" class="btn btn-default"><i class="fa fa-eye"></i></a>
                            <a href="/records/create/{{this._id}}" class="btn btn-default"><i class="fa fa-stethoscope"></i></a>
                            <a href="/patients/patientadmin/edit/{{this._id}}" class="btn btn-default"><i class="fa fa-edit"></i></a>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal_{{this._id}}">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <div class="modal fade" id="myModal_{{this._id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Warning!</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Do you want to delete ?
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <a class="btn btn-danger" href="/{{this.resourceType}}/delete/{{this._id}}" class="btn btn-default">Yes</a>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </td>
                    </tr>   
                {{/each}}
                {{#iff list.length '==' 0}}
                          <tr>
                              <td colspan="12"><center>Không có bệnh nhân đăng ký</center></td>
                          </tr>
                {{/iff}}
                </tbody>
            </table>
            <hr>
            <div class="d-flex justify-content-center">{{{paginateHelper pagination}}}</div>
          </div>
        </div>
     </div>
</div>