<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header no-border">
            <div class="d-flex justify-content-between">
              <a href="/organization/create" class="btn btn-primary">Thêm Organization</a>
              <a href="javascript:void(0);">View Report</a>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:20%">Tên</th>
                        <th style="width:20%">Telecom</th>
                        <th style="width:40%">Liên hệ</th>
                        <th style="width:15%">
                    </tr>
                </thead>
                <tbody>
                {{#each list}}
                    <tr>
                        <td>{{incremented @index}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.telecom}}</td>
                        <td>{{this.contact.address}}</td>
                        <td>
                            <a href="/organization/edit/{{this._id}}" class="btn btn-default">Edit</a>
                            {{> delete}}
                        </td>
                    </tr>     
                {{/each}}
                    <!--<tr>
                        <td>1</td>
                        <td>Patent 1</td>
                        <td>39</td>
                        <td>Viem loi</td>
                        <td>20-3-2019</td>
                        <td>
                            <button class="btn btn-default">Details</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Delete</button>
                        </td>
                    <tr>
                    <tr>
                        <td>2</td>
                        <td>Patent 2</td>
                        <td>39</td>
                        <td>Sau rang</td>
                        <td>20-3-2019</td>
                        <td>
                            <button class="btn btn-default">Details</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Delete</button>
                        </td>
                    <tr>
                    <tr>
                        <td>3</td>
                        <td>Patent 3</td>
                        <td>39</td>
                        <td>Viem quoanh cuong</td>
                        <td>20-3-2019</td>
                        <td>
                            <a href="/patients/details/{{this._id}}" class="btn btn-default">Details</a>
                            <a href="/patients/edit/{{this._id}}" class="btn btn-default">Edit</a>
                            <a class="btn btn-default">Delete</a>
                        </td>
                    <tr>-->
                </tbody>
            </table>
          </div>
        </div>
     </div>
</div>