<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header no-border">
            <h3 class="card-title">Thêm thông tin tư vấn</h3>
            <div class="d-flex justify-content-between">
             
            </div>
          </div>
          <form action="{{#if isEdit}}/suggestorganization/update{{else}}/suggestorganization/store{{/if}}" method="POST" autocomplete="off">
             <div class="card-body">    
                <input type="hidden" name="_id" value="{{suggest._id}}">
                <div class="row">
                    <label class="col-md-2">Tên</label>
                    <div class="col-md-4">
                        <input name="name" class="form-control" value="{{suggest.name}}"/>
                        <div class="text-danger">
                              {{suggest.name}}
                        </div>
                    </div>
                    <label class="col-md-2">Điện thoại</label>
                    <div class="col-md-4">
                        <input name="telecom" class="form-control" value="{{suggest.telecom}}"/>
                        <div class="text-danger">
                              {{suggest.telecom}}
                        </div>
                    </div>
                </div>
                <div class="row">
                        <label class="col-md-2">Địa chỉ</label>
                    <div class="col-md-4">
                        <input name="address" class="form-control" value="{{suggest.address}}"/>
                        <div class="text-danger">
                              {{suggest.address}}
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="card-footer">
               <center><button class="btn btn-default">{{#if isEdit}}Chỉnh sửa{{else}}Thêm{{/if}}</button></center>
            </div>
          </form>

        </div>
     </div>
</div>