<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header no-border">
            <div class="d-flex justify-content-between">
              <a href="/attachment/create" class="btn btn-primary">New attachment</a>
              <a href="javascript:void(0);">View Report</a>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ContentType</th>
                        <th>Data</th>
                        <th>Title</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <!--<td>{{ this._id }}</td>-->
                        <td>{{incremented @index}}</td>
                        <td>{{ this.contentType}}</td>
                        <td>{{ this.data}}</td>
                        <td>{{ this.title}}</td>
                        <td>
                            <a href="/attachment/edit/{{ this._id }}" class="btn btn-default">Edit</a>
                            <a href="/attachment/delete/{{ this._id}}" class="btn btn-default">Delete</a>
                        </td>
                    </tr>     
                    {{/each}}
                </tbody>
            </table>
          </div>
        </div>
     </div>
</div>