<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header no-border">
            <div class="d-flex justify-content-between">
              <a href="/allergyintolerance/create" class="btn btn-primary">New allergyintolerance</a>
              <a href="javascript:void(0);">View Report</a>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 5%">ID</th>
                        <th style="width: 20%">Identifier</th>
                        <th style="width: 20%">Category</th>
                        <th style="width: 20%">OnsetDateTime</th>
                        <th style="width: 15%"></th>

                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <!--<td>{{ this._id }}</td>-->
                        <td>{{incremented @index}}</td>
                        <td>{{ this.identifier}}</td>
                        <td>{{ this.category}}</td>
                        <td>{{ this.onsetDateTime}}</td>
                        <td>
                            <a href="/allergyintolerance/edit/{{ this._id }}" class="btn btn-default">Edit</a>
                            <a href="/allergyintolerance/delete/{{ this._id}}" class="btn btn-default">Delete</a>
                        </td>
                    </tr>     
                    {{/each}}
                </tbody>
            </table>
          </div>
        </div>
     </div>
</div>